<div class="signUpForm">
        <div class="title">
                <h1>Sign Up</h1>
        </div>
<form [formGroup]="signUpForm" >
        <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input  type="email" formControlName='email' class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]='this.email'>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" formControlName='password' class="form-control" id="exampleInputPassword1" placeholder="Password" [(ngModel)]='this.password'>
                <small id="emailHelp" class="form-text text-muted">Password must be between 5 and 30 characters.</small>
        </div>
        <button type="submit" class="btn btn-primary" (click)='signUp()' [disabled]='!signUpForm.valid'>Submit</button>
        <div class='logIn'>Have an account?  <a href="http://localhost:4200/signin">Log in</a></div>
</form>
</div>
<ng-template #emailModal let-modal>
        <div class="modal-header">
          <h4 class="modal-title">Hi {{this.email}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>If you want to use all functionalities you have to verify your email first!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        </div>
</ng-template>